.contact{
    width: 80%;
    margin:auto;
}

.contact .socialLink{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact .socialLink div{
    width: 50px;
    aspect-ratio: 1;
    background-color: #c84c0c;
    border-top:4px solid #fcbcb0;
    border-left:4px solid #fcbcb0;
    box-shadow: 4px 4px 0 black;
}

.contact .socialLink a{
    color: inherit;
    font-size: 2rem;
    text-align: center;
}
.form{
    text-align: center;
    width: 70%;
    margin:0 auto;
}

.form form > *{
    width: 100%;
    margin: 1rem 0;
    background-color: #fff;
    padding: 1rem;
    color: #444;
    border-top: 4px solid #444;
    border-left: 4px solid #444;
    box-shadow: 4px 4px 0 black;
}
.form form input:last-of-type{
    cursor: pointer;
}