*{
    box-sizing: border-box;
}
.about{
    margin: auto;
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    width: 75px;
    aspect-ratio: 1;
    background-image: url('../../assets/images/tresure.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

#text{
    position: relative;
    margin-bottom: 2rem;
}
/* #text::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    width: 4px;
    background: #fff;
    animation: blink 500ms infinite alternate;
}

@keyframes blink {
    0%{opacity: 0;}
    100%{opacity: 100%;}
} */