*{
    box-sizing: border-box;
}
.playerName{
    min-height: 10vh;
}
.playerName img{
    /* outline: 4px solid red; */
    position: absolute;
    bottom: 10vh;
    left: 25%;
    width: 100px;
    aspect-ratio: 1;
}
.jump{
    animation: jump 500ms cubic-bezier(0.03, 0.67, 0.47, 0.88) alternate infinite;
}
.movefront{
    transition-timing-function: ease;
    transition-duration: 2000ms;
    transform: translateX(20px);
}
.back{
    transition-duration: 0ms;
    transform:rotateY(180deg);
}

@keyframes jump {
    0%{transform: translateY(0);}
    100%{transform: translateY(-15vh);}
}