*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #5c94fc;
    min-height:100vh;
    color: #fff;
    height: 100vh;
    overflow-y: hidden;
}
.screenConatiner{
    display: flex;
    overflow: scroll;
    /* justify-content: space-evenly; */
}
.screenConatiner>div{
    min-width: 100vw;
}