*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid rebeccapurple; */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #5c94fc;
    min-height:100vh;
    color: #fff;
    height: 100vh;
    overflow-y: hidden;
}
.screenConatiner{
    display: flex;
    overflow-x: scroll;
}
.screenConatiner>div{
    min-width: 100vw;
}

